{% extends 'template.html.twig' %}

    {% block title %}
        {{ parent() }} Author
    {% endblock %}

{% block mainBody %}
    {% for post in posts %}
        <p>{{ post.postTitle }}</p>
    {% endfor %}
{% endblock %}