{% extends 'template.new.html.twig' %}

{% block bannerList %}
    {% for tag in tags %}
        {% for tag in tags %}
            <p>{{ dump(tag) }}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}