{% extends 'admin/index.html.twig' %}

{% block title %}{{ parent() }} | Sections{% endblock %}
    {% block sideBar %}{% endblock %}
{% block mainBody %}
<div class="d-flex flex-column align-items-center text-center mb-5 pb-5">
    <h1>Create new Section</h1>

    {{ include('admin_section/_form.html.twig') }}

    <a href="{{ path('app_admin_section_index') }}">back to list</a>
</div>
{% endblock %}
