<!DOCTYPE html>


<html lang="en"><head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-name" content="reader" />

    <!-- plugins -->
    <link rel="stylesheet" href="{{ ('plugins/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ ('plugins/themify-icons/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ ('plugins/slick/slick.css') }}">

    <!-- Main Stylesheet -->
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}

    {% block header %}{% endblock %}
    {% block banner %}{% endblock %}
<section class="section pb-0">
    <div class="container">
        <div class="row d-flex justify-content-center">
    {% block mainBody %}{% endblock %}
        </div>
    </div>
</section>
    {% block sideBar %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block scripts %}{% endblock %}

{% endblock %}{# end body #}
</body>