{% extends 'admin/index.html.twig' %}

{% block title %}New Tag{% endblock %}
    {% block sideBar %}{% endblock %}

{% block mainBody %}

<div class="d-flex flex-column align-items-center text-center mb-5 pb-5">
    <h1>Create new Comment</h1>

    {{ include('admin_comment/_form.html.twig') }}
    {% if is_granted('ROLE_EDITOR') %}
    <a href="{{ path('app_admin_comment_index') }}">back to list</a>
    {% endif %}
</div>
{% endblock %}
